{% extends "bases/base_with_cart_icon.html" %}
{% load jalali_tags %}

{% block title %} سفارش موفق {% endblock title %}
{% block content %}
        <div class="container">
          <div class="mx-auto max-w-[500px] rounded-lg bg-muted p-5">
            <!-- Head -->
            <div class="flex flex-col items-center justify-center gap-y-4">
              <div>
                <svg class="h-20 w-20 text-primary">
                  <use xlink:href="#check" />
                </svg>
              </div>
              <h1
                class="mb-8 text-center text-base text-primary md:text-lg lg:text-xl"
              >
                پرداخت سفارش {{ payment.order.id }} موفق بود!
              </h1>
            </div>

            <div class="mb-6 flex items-center justify-center text-sm">
              <div class="flex flex-col items-center gap-y-2 md:gap-y-4">
                <p class="font-medium md:text-lg">جرئیات پرداخت</p>
                <div class="flex items-center gap-x-4">
                  <p class="text-text/90">
                    شماره پیگیری : <span class="tracking-wider">{{ payment.order.id }}</span>
                  </p>
                  <p class="text-text/90">
                    تاریخ : <span> {{ payment.created_date|jalali_date }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="flex gap-x-4">
              <div class="w-full">
                <a href="{% url "dashboard:order-detail" pk=payment.order.id %}" class="btn-primary py-3"> پیگیری سفارش </a>
              </div>
              <div class="w-full">
                <a href="{% url "website:index" %}" class="btn-secondary py-3"> برگشت </a>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}