django>4.2,<4.3
Pillow
python-decouple
psycopg2-binary
django-redis
redis
django-celery-beat
celery
django-ratelimit
jdatetime
django-summernote
django-debug-toolbar==4.0.0
django-mptt
faker
requests
django-model-utils
black
gunicorn